# BOT
FLUXER_BOT_TOKEN=
FLUXER_CLIENT_SECRET= // optional

# DATABASE
DB_HOST=
DB_PORT=
DB_USER=
DB_NAME=
DB_PASS=

# SETTINGS
PREFIX=
OWNERID= // only if you plan to use dev commands
PM2_ID= // optional, only if you're using pm2 to host the bot and if you plan to use dev commands